In [13]:
import pandas
import time
from datetime import datetime

dfs = pandas.read_html('http://rate.bot.com.tw/xrt?Lang=zh-TW')

In [4]:
dfs[0]

,幣別,幣別.1,現金匯率,Unnamed: 3,即期匯率,Unnamed: 5,遠期匯率,歷史匯率,歷史匯率.1,現金匯率.1,...,Unnamed: 13,本行買入,本行賣出,本行買入 .1,本行賣出 .1,Unnamed: 18,本行買入,本行賣出,本行買入.1,本行賣出.1
0,美金 (USD) 美金 (USD),31.725,32.267,32.025,32.125,查詢,查詢,31.725,32.267,32.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,港幣 (HKD) 港幣 (HKD),3.981,4.176,4.101,4.161,查詢,查詢,3.981,4.176,4.101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,英鎊 (GBP) 英鎊 (GBP),38.32,40.25,39.19,39.61,查詢,查詢,38.32,40.25,39.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,澳幣 (AUD) 澳幣 (AUD),22.84,23.5,23.03,23.26,查詢,查詢,22.84,23.5,23.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,加拿大幣 (CAD) 加拿大幣 (CAD),23.4,24.14,23.67,23.89,查詢,查詢,23.4,24.14,23.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,新加坡幣 (SGD) 新加坡幣 (SGD),21.61,22.39,22.03,22.21,查詢,查詢,21.61,22.39,22.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,瑞士法郎 (CHF) 瑞士法郎 (CHF),30.59,31.65,31.12,31.41,查詢,查詢,30.59,31.65,31.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,日圓 (JPY) 日圓 (JPY),0.2647,0.2757,0.2711,0.2751,查詢,查詢,0.2647,0.2757,0.2711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,南非幣 (ZAR) 南非幣 (ZAR),-,-,2.24,2.32,查詢,查詢,-,-,2.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,瑞典幣 (SEK) 瑞典幣 (SEK),3.09,3.6,3.43,3.53,查詢,查詢,3.09,3.6,3.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,紐元 (NZD) 紐元 (NZD),21.82,22.45,22.06,22.26,查詢,查詢,21.82,22.45,22.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,泰幣 (THB) 泰幣 (THB),0.7872,0.9302,0.8757,0.9157,查詢,查詢,0.7872,0.9302,0.8757,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,菲國比索 (PHP) 菲國比索 (PHP),0.5929,0.7259,-,-,查詢,查詢,0.5929,0.7259,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,印尼幣 (IDR) 印尼幣 (IDR),0.00208,0.00278,-,-,查詢,查詢,0.00208,0.00278,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,歐元 (EUR) 歐元 (EUR),32.78,33.93,33.28,33.68,查詢,查詢,32.78,33.93,33.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,韓元 (KRW) 韓元 (KRW),0.02491,0.02881,-,-,查詢,查詢,0.02491,0.02881,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,越南盾 (VND) 越南盾 (VND),0.00104,0.00154,-,-,查詢,查詢,0.00104,0.00154,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,馬來幣 (MYR) 馬來幣 (MYR),6.076,7.676,-,-,查詢,查詢,6.076,7.676,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,人民幣 (CNY) 人民幣 (CNY),4.519,4.681,4.591,4.641,查詢,查詢,4.519,4.681,4.591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
currency = dfs[0]

In [6]:
currency = currency.ix[:,0:5] #選取需要的[row,column]

In [7]:
currency.columns = [u'幣別', u'現金匯率-本行買入', u'現金匯率-本行賣出', u'即期匯率-本行買入', u'即期匯率-本行賣出'] #修改 header

In [8]:
currency[u'幣別'] = currency[u'幣別'].str.extract('\((\w+)\)')

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [10]:
currency

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
0   USD    31.725    32.267    32.025    32.125
1   HKD     3.981     4.176     4.101     4.161
2   GBP     38.32     40.25     39.19     39.61
3   AUD     22.84      23.5     23.03     23.26
4   CAD      23.4     24.14     23.67     23.89
5   SGD     21.61     22.39     22.03     22.21
6   CHF     30.59     31.65     31.12     31.41
7   JPY    0.2647    0.2757    0.2711    0.2751
8   ZAR         -         -      2.24      2.32
9   SEK      3.09       3.6      3.43      3.53
10  NZD     21.82     22.45     22.06     22.26
11  THB    0.7872    0.9302    0.8757    0.9157
12  PHP    0.5929    0.7259         -         -
13  IDR   0.00208   0.00278         -         -
14  EUR     32.78     33.93     33.28     33.68
15  KRW   0.02491   0.02881         -         -
16  VND   0.00104   0.00154         -         -
17  MYR     6.076     7.676         -         -
18  CNY     4.519     4.681     4.591     4.641

In [2]:
currency.to_excel('yen_rate.xlsx')
#count = 1

#while True:
#    filename = 'yen_rate_' + str(count) + '.xlsx'
#    currency.to_excel(filename)
#    time.sleep(1*60)
#    count += 1

NameError: name 'currency' is not defined

In [11]:
currency['Date'] = '123'

In [12]:
currency

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出 Date
0   USD    31.725    32.267    32.025    32.125  123
1   HKD     3.981     4.176     4.101     4.161  123
2   GBP     38.32     40.25     39.19     39.61  123
3   AUD     22.84      23.5     23.03     23.26  123
4   CAD      23.4     24.14     23.67     23.89  123
5   SGD     21.61     22.39     22.03     22.21  123
6   CHF     30.59     31.65     31.12     31.41  123
7   JPY    0.2647    0.2757    0.2711    0.2751  123
8   ZAR         -         -      2.24      2.32  123
9   SEK      3.09       3.6      3.43      3.53  123
10  NZD     21.82     22.45     22.06     22.26  123
11  THB    0.7872    0.9302    0.8757    0.9157  123
12  PHP    0.5929    0.7259         -         -  123
13  IDR   0.00208   0.00278         -         -  123
14  EUR     32.78     33.93     33.28     33.68  123
15  KRW   0.02491   0.02881         -         -  123
16  VND   0.00104   0.00154         -         -  123
17  MYR     6.076     7.676         -         -  123
18  CNY     4.519     4.681     4.591     4.641  123

In [18]:
datetime.now().strftime('%Y-%m-%d')

'2016-12-23'

In [19]:
currency['Date'] = datetime.now().strftime('%Y-%m-%d')

In [20]:
currency

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出        Date
0   USD    31.725    32.267    32.025    32.125  2016-12-23
1   HKD     3.981     4.176     4.101     4.161  2016-12-23
2   GBP     38.32     40.25     39.19     39.61  2016-12-23
3   AUD     22.84      23.5     23.03     23.26  2016-12-23
4   CAD      23.4     24.14     23.67     23.89  2016-12-23
5   SGD     21.61     22.39     22.03     22.21  2016-12-23
6   CHF     30.59     31.65     31.12     31.41  2016-12-23
7   JPY    0.2647    0.2757    0.2711    0.2751  2016-12-23
8   ZAR         -         -      2.24      2.32  2016-12-23
9   SEK      3.09       3.6      3.43      3.53  2016-12-23
10  NZD     21.82     22.45     22.06     22.26  2016-12-23
11  THB    0.7872    0.9302    0.8757    0.9157  2016-12-23
12  PHP    0.5929    0.7259         -         -  2016-12-23
13  IDR   0.00208   0.00278         -         -  2016-12-23
14  EUR     32.78     33.93     33.28     33.68  2016-12-23
15  KRW   0.02491   0.02881         -         -  2016-12-23
16  VND   0.00104   0.00154         -         -  2016-12-23
17  MYR     6.076     7.676         -         -  2016-12-23
18  CNY     4.519     4.681     4.591     4.641  2016-12-23

In [21]:
currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
幣別           19 non-null object
現金匯率-本行買入    19 non-null object
現金匯率-本行賣出    19 non-null object
即期匯率-本行買入    19 non-null object
即期匯率-本行賣出    19 non-null object
Date         19 non-null object
dtypes: object(6)
memory usage: 984.0+ bytes

In [24]:
currency['Date'] = pandas.to_datetime(currency['Date']) #修改資料庫欄位類型

In [25]:
currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
幣別           19 non-null object
現金匯率-本行買入    19 non-null object
現金匯率-本行賣出    19 non-null object
即期匯率-本行買入    19 non-null object
即期匯率-本行賣出    19 non-null object
Date         19 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 984.0+ bytes

In [31]:
import sqlite3

with sqlite3.connect('currency.sqlite') as db:
    currency.to_sql('yen_rate', con = db, if_exists='append')

In [36]:
#讀取 yen_rate 資料庫
with sqlite3.connect('currency.sqlite') as db:
    df = pandas.read_sql_query('select * from yen_rate', con = db)

In [34]:
df

    index   幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出                 Date
0       0  USD    31.725    32.267    32.025    32.125  2016-12-23 00:00:00
1       1  HKD     3.981     4.176     4.101     4.161  2016-12-23 00:00:00
2       2  GBP     38.32     40.25     39.19     39.61  2016-12-23 00:00:00
3       3  AUD     22.84      23.5     23.03     23.26  2016-12-23 00:00:00
4       4  CAD      23.4     24.14     23.67     23.89  2016-12-23 00:00:00
5       5  SGD     21.61     22.39     22.03     22.21  2016-12-23 00:00:00
6       6  CHF     30.59     31.65     31.12     31.41  2016-12-23 00:00:00
7       7  JPY    0.2647    0.2757    0.2711    0.2751  2016-12-23 00:00:00
8       8  ZAR         -         -      2.24      2.32  2016-12-23 00:00:00
9       9  SEK      3.09       3.6      3.43      3.53  2016-12-23 00:00:00
10     10  NZD     21.82     22.45     22.06     22.26  2016-12-23 00:00:00
11     11  THB    0.7872    0.9302    0.8757    0.9157  2016-12-23 00:00:00
12     12  PHP    0.5929    0.7259         -         -  2016-12-23 00:00:00
13     13  IDR   0.00208   0.00278         -         -  2016-12-23 00:00:00
14     14  EUR     32.78     33.93     33.28     33.68  2016-12-23 00:00:00
15     15  KRW   0.02491   0.02881         -         -  2016-12-23 00:00:00
16     16  VND   0.00104   0.00154         -         -  2016-12-23 00:00:00
17     17  MYR     6.076     7.676         -         -  2016-12-23 00:00:00
18     18  CNY     4.519     4.681     4.591     4.641  2016-12-23 00:00:00